body {
    background-image: url("9686960.jpg");
    background-size: cover;
}

h1,
h2,
p {
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
}

.menu {
    width: 80%;
    background-color: rosybrown;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

img {
    display: block;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.flavor,
.dessert {
    text-align: left;
    width: 49%;
}

.price {
    text-align: right;
    width: 49%;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

footer {
    font-size: 15px;
}